{
	"printWidth": 80,
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto",
	"singleAttributePerLine": true,
	"arrowParens": "avoid",
	"quoteProps": "as-needed",
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@app/(.*)$",
		"^@pages/(.*)$",
		"^@widgets/(.*)$",
		"^@features/(.*)$",
		"^@entities/(.*)$",
		"^@shared/(.*)$",
		"^@assets/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSeparation": true,
	"proseWrap": "always"
}
